* {
    font-family: 'VT323';
}


.main {
    background-color: rgb(63, 87, 183);
}

.word-tetris {
    text-shadow: 0 4px 4px #00000040;
    -webkit-text-stroke: 2px #000000;
    font-size: 80px;
    text-align: center;
}

.letter-t1 {
    color: #ff0000;
}

.letter-e {
    color: #ff9900;
}

.letter-t2 {
    color: #fff400;
}

.letter-r {
    color: #33ff00;
}

.letter-i {
    color: #00ffef;
}

.letter-s {
    color: #ad00ff;
}

#endGame {
    align-items: center;
    justify-content: center;
    position: fixed;
    top:  13%;
    left: 35%;
    width: 30%;
    height: 80%;
    background: lightyellow;
    font-size: 20px;
    border: 2px solid;
    line-height: 1.25;
}

.end-text {
    text-align: center;
}

#endText {
    text-align: center;
}

.score-table {
    float: left;
    padding: 10px;
    margin-left: 5%;
    width: 84%;
    height: 70%;
    overflow: auto;
    border: 2px solid;
    background-color: lightyellow;
}

.refresh {
    font-size: 30px;
    display: block;
    margin: 0 auto;
    background-color: #ffd356;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in-out;
    width: 120px;
    height: 40px;
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
}

.refresh:hover {
    background-color: #ffc107; 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4); 
}

.refresh:active {
    background-color: #ffab00; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
