* {
    font-family: 'VT323';
}


.main {
    background-color: rgb(63, 87, 183);
}

.word-tetris {
    text-shadow: 0 4px 4px #00000040;
    -webkit-text-stroke: 2px #000000;
    font-size: 80px;
    text-align: center;
}

.letter-t1 {
    color: #ff0000;
}

.letter-e {
    color: #ff9900;
}

.letter-t2 {
    color: #fff400;
}

.letter-r {
    color: #33ff00;
}

.letter-i {
    color: #00ffef;
}

.letter-s {
    color: #ad00ff;
}

#gameBoard {
    float: left;
    margin-left: 37%;
    height: 640px;
    width: 320px;
}

#nextTetramino {
    margin-top: 3px;
}

.game-info {
    float: left;
    margin-left: 2%;
    line-height: 1;
    color: lightyellow;
    font-size: 20px;
    width: 39%;
    height: 90%;
}